@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4"><b>TEAM MEMBERS</b></h3>
    <div class="team-members-container d-flex justify-content-center">
        <div class="card">
            <img src="~/images/anushiya.jpg" class="card-img-top" alt="Anushiya Pitchai Nadar">
            <div class="card-body">
                <h5 class="card-title">Anushiya Pitchai Nadar</h5>
                <p class="card-text">200579263</p>
            </div>
        </div>

        <div class="card">
            <img src="~/images/victor.jpeg" class="card-img-top" alt="Anushiya Pitchai Nadar">
            <div class="card-body">
                <h5 class="card-title">Victor Dipeolu</h5>
                <p class="card-text">200587553</p>
            </div>
        </div>

        <div class="card">
            <img src="~/images/Omorire.png" class="card-img-top" alt="Ommorrie">
            <div class="card-body">
                <h5 class="card-title">Omorire Awolola</h5>
                <p class="card-text">200563722</p>
            </div>
        </div>
    </div>
</div>
